<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <title>Fragments · WikiFred</title>
    <link rel="stylesheet" href="/wiki/css/style.css">
    <link rel="stylesheet" href="/wiki/pagefind/pagefind-ui.css">
  </head>
  <body data-rotate="0">
    <header class="site-head">
      <a class="brand" href="/wiki/" id="brand-random">WikiFred</a>
      <nav class="top-links">
        <a href="/wiki/browse/">Index</a>
        <a href="/wiki/recent/">New</a>
        <a href="/wiki/search/">🔍 Search</a>
        <a href="/wiki/" id="header-random" title="random article">🎲 Random</a>
        <a href="/wiki/guides/" class="nav-right">Sources &amp; Methods</a>
      </nav>
    </header>

    <main>
      <section class="thread-hub">
  <p class="kicker">curated thread</p>
  <h1>Fragments</h1>
  <p class="blurb">One-liners, observations, and things too short to be stories.</p>
  

  <div class="hub-controls">
    <a class="btn tn-rand" href="/wiki/articles/mom-smoking-in-the-car/" data-thread="fragments">? random in this thread</a>
    
      <a class="btn" href="/wiki/articles/mom-smoking-in-the-car/">▶ start (Mom Smoking in the Car)</a>
    
  </div>

  <ol class="timeline">
    
      <li>
        <span class="tl-date">January 1, 1970</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/mom-smoking-in-the-car/">Mom Smoking in the Car</a>
          <span class="tl-source">Autobiography</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">June 28, 1999</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/cppp-porter-evenings/">CPP Porter Evenings</a>
          <span class="tl-source">Journal</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">July 1, 2002</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/ward-cleaver-day/">Ward Cleaver Day</a>
          <span class="tl-source">Blog</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">July 2, 2002</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/phonetic-alphabets/">Phonetic Alphabets</a>
          <span class="tl-source">Blog</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">September 1, 2002</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/bm-haiku-2002/">Burning Man Haiku, 2002</a>
          <span class="tl-source">Journal</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">October 3, 2002</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/yes-no-always-never/">YES, NO, ALWAYS, NEVER</a>
          <span class="tl-source">Blog</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">November 5, 2002</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/vo-he-votando/">Yo He Votando</a>
          <span class="tl-source">Blog</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">December 17, 2002</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/how-much-is-a-billion/">How Much Is a Billion?</a>
          <span class="tl-source">Blog</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">January 2, 2003</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/nucular/">Nucular</a>
          <span class="tl-source">Blog</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">January 7, 2003</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/new-powerbooks-2003/">New Powerbooks</a>
          <span class="tl-source">Blog</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">February 10, 2003</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/dell-dude-arrested/">The Dell Dude Gets Arrested</a>
          <span class="tl-source">Blog</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">March 14, 2003</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/repetitive-motion-disorder/">Repetitive Motion Disorder</a>
          <span class="tl-source">Blog</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">April 10, 2003</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/pc-virus-golden-retriever/">The PC-Virus-Dog Analogy</a>
          <span class="tl-source">Blog</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">June 18, 2003</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/cigars-a-hard-boundary/">Cigars: A Hard Boundary</a>
          <span class="tl-source">Blog</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">December 30, 2003</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/npr-math-base-twelve/">NPR Math and Base Twelve</a>
          <span class="tl-source">Blog</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">February 2, 2004</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/survivor-reboot/">Survivor Needs More Cannibalism</a>
          <span class="tl-source">Blog</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">February 10, 2004</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/dishwasher-salmon/">Dishwasher Salmon</a>
          <span class="tl-source">Blog</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">February 13, 2004</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/friday-the-thirteenth-2004/">How to Celebrate Friday the 13th</a>
          <span class="tl-source">Blog</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">February 13, 2004</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/friday-the-thirteenth/">Friday the 13th: Better Than Valentine&#39;s Day</a>
          <span class="tl-source">Blog</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">February 19, 2004</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/green-hornet-miramax/">Kevin Smith vs. Harvey Weinstein on the Green Hornet</a>
          <span class="tl-source">Blog</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">March 1, 2004</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/darkest-beer-you-have/">The Darkest Beer You Have</a>
          <span class="tl-source">Journal</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">March 23, 2004</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/censorship-janet-jackson/">Nipple Inspection</a>
          <span class="tl-source">Blog</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">March 29, 2004</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/pop-tabs-for-charity/">Pop a Cap (on This Charity Scheme)</a>
          <span class="tl-source">Blog</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">March 30, 2004</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/spam-by-george/">Spam, by George!</a>
          <span class="tl-source">Blog</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">April 15, 2004</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/home-automation-folder/">When Do I Get a Clothes Folder?</a>
          <span class="tl-source">Blog</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">July 29, 2004</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/story-so-far-2004/">The Story So Far</a>
          <span class="tl-source">Blog</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">November 30, 2004</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/debits-and-credits/">Debits and Credits</a>
          <span class="tl-source">Blog</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">December 2, 2004</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/spoilage-sensor/">The Spoilage Sensor</a>
          <span class="tl-source">Blog</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">January 3, 2005</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/adventure-theme-park-dream/">The Adventure Theme Park Dream</a>
          <span class="tl-source">Blog</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">January 17, 2005</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/e-scammerce/">e-Scammerce</a>
          <span class="tl-source">Blog</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">February 28, 2005</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/sleep-mode-for-humans/">Sleep Mode for Humans</a>
          <span class="tl-source">Blog</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">March 2, 2005</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/standard-usb-cables/">The Standard USB Cable Problem</a>
          <span class="tl-source">Blog</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">April 5, 2005</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/soylent-green-tuesday/">Remember, Tuesday Is Soylent Green Day</a>
          <span class="tl-source">Blog</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">July 8, 2005</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/very-strange-sims/">Very Strange Sims</a>
          <span class="tl-source">Blog</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">February 17, 2006</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/response-to-pinz-reader/">Response to the Pinzgauer Reader</a>
          <span class="tl-source">Blog</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">May 4, 2006</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/i-predicted-forever-stamp/">I Predicted the Forever Stamp</a>
          <span class="tl-source">Blog</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">September 20, 2006</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/godzilla-quote/">Godzilla</a>
          <span class="tl-source">Blog</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">September 20, 2006</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/survivor-south-pacific-quote/">Survivor: South Pacific</a>
          <span class="tl-source">Blog</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">September 27, 2006</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/sql-find-budweiser/">SELECT * WHERE blog_content LIKE &#39;%Budweiser%&#39;</a>
          <span class="tl-source">Blog</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">November 6, 2007</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/facebook-abbreviated/">Facebook Is Abbreviated F8</a>
          <span class="tl-source">Facebook</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">March 25, 2008</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/bear-kills-squirrels/">Killing Squirrels All Day</a>
          <span class="tl-source">Journal</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">March 25, 2008</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/bear-squirrel-hunting/">Some Days You Kill the Bear</a>
          <span class="tl-source">Journal</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">April 1, 2008</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/every-car-alarm-in-the-lot/">Every Car Alarm in the Lot</a>
          <span class="tl-source">Journal</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">September 15, 2008</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/starwars-kid-chewbacca/">If You Had More Hair</a>
          <span class="tl-source">Yelp review</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">October 1, 2008</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/warehouse-werewolves/">Warehouse Werewolves</a>
          <span class="tl-source">Facebook</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">October 19, 2008</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/helping-a-friend-move/">Helping a Friend Move</a>
          <span class="tl-source">Facebook</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">January 11, 2009</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/pinz-whack-starter/">Pinz Is Running Again</a>
          <span class="tl-source">Facebook</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">January 29, 2009</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/creme-soda-insomnia/">Creme Soda Insomnia</a>
          <span class="tl-source">Facebook</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">March 1, 2009</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/pressure-to-get-things-done/">No Pressure to Get Things Done Well</a>
          <span class="tl-source">Facebook Notes</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">June 9, 2009</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/penalty-box/">The Penalty Box</a>
          <span class="tl-source">Facebook</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">June 19, 2009</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/camping-gear-for-zombies/">Camping Gear for Zombies</a>
          <span class="tl-source">Facebook</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">June 23, 2009</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/larry-harvey-on-rain/">Larry Harvey on Rain</a>
          <span class="tl-source">Facebook</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">July 12, 2009</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/big-bear-pinzgauer-central/">Big Bear Is Pinzgauer Central</a>
          <span class="tl-source">Facebook</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">July 27, 2009</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/caretaker-of-mia/">Will Probably Not Run Away With Them</a>
          <span class="tl-source">Facebook</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">September 6, 2009</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/horseflies-lone-pine/">Horseflies in Lone Pine</a>
          <span class="tl-source">Facebook Notes</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">September 8, 2009</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/playa-dust-everywhere/">Playa Dust Everywhere</a>
          <span class="tl-source">Facebook</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">September 30, 2009</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/wide-angle-telephoto-brain/">Wide Angle to Telephoto</a>
          <span class="tl-source">Journal</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">October 9, 2009</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/broken-toe-banh-mi/">Broken Toe and Banh Mi</a>
          <span class="tl-source">Journal</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">April 20, 2010</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/every-day-is-beer-day/">Every Day Is Beer Day</a>
          <span class="tl-source">Facebook</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">August 11, 2010</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/dayquil-the-good-stuff/">Dayquil: The Good Stuff</a>
          <span class="tl-source">Journal</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">August 29, 2010</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/seagull-management/">Seagull Management</a>
          <span class="tl-source">Journal</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">September 2, 2010</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/football-first-down/">Business Lesson from Football</a>
          <span class="tl-source">Journal</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">September 13, 2010</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/jury-duty-courthouse/">Jury Duty at the Vista Courthouse</a>
          <span class="tl-source">Journal</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">September 30, 2010</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/double-rainbow-flippin-pizza/">Double Rainbow at Flippin&#39; Pizza</a>
          <span class="tl-source">Journal</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">August 7, 2011</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/cat-scratch-fever-pet-store/">Cat Scratch Fever at the Pet Store</a>
          <span class="tl-source">Facebook</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">September 15, 2011</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/every-gift-is-an-obligation/">Every Gift Is an Obligation</a>
          <span class="tl-source">Journal</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">May 9, 2012</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/beer-bottle-calliope/">Beer Bottle Calliope</a>
          <span class="tl-source">Journal</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">August 21, 2012</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/cubed-out-chocks-pulled/">Cubed Out, Chocks Pulled</a>
          <span class="tl-source">Facebook Notes</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">September 1, 2012</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/pbr-tastes-like-playa/">PBR Tastes Like Wet Playa</a>
          <span class="tl-source">Facebook Notes</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">April 18, 2015</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/birthdays-are-not-my-thing/">Birthdays Are Not My Thing</a>
          <span class="tl-source">Quora</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">May 16, 2015</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/bat-in-the-yard/">Silent Bat</a>
          <span class="tl-source">Facebook</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">February 18, 2016</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/smell-of-eucalyptus/">Inner Koala</a>
          <span class="tl-source">Facebook</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">July 6, 2017</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/the-book-of-job/">The Book of Job</a>
          <span class="tl-source">Quora</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">November 6, 2017</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/gordon-ramsay-dinner/">What Gordon Ramsay Would Think of My Dinner</a>
          <span class="tl-source">Quora</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">January 1, 2018</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/lucky-few-wit/">A Few Lines Worth Keeping</a>
          <span class="tl-source">Quora</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">July 13, 2019</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/quora-fragments/">Fragments from Quora</a>
          <span class="tl-source">Quora</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">September 15, 2025</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/atheism-is-lack-of-doctrine/">Atheism Q&amp;A</a>
          <span class="tl-source">Quora</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">May 18, 2026</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/water-in-the-desert/">Water in the Desert</a>
          <span class="tl-source">Writings</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">June 2, 2026</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/amy-cia/">Amy, CIA</a>
          <span class="tl-source">Journal</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">June 2, 2026</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/answering-unwanted-questions/">Answering Unwanted Personal Questions</a>
          <span class="tl-source">Journal</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">June 2, 2026</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/dad-iphone-spectrum/">Dad&#39;s iPhone and Spectrum</a>
          <span class="tl-source">Journal</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">June 2, 2026</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/speaking-to-god/">Speaking to God</a>
          <span class="tl-source">Journal</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">June 2, 2026</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/zombies-already-in-hell/">Zombies</a>
          <span class="tl-source">Journal</span>
        </span>
      </li>
    
      <li>
        <span class="tl-date">June 7, 2026</span>
        <span class="tl-body">
          <a class="tl-link" href="/wiki/articles/operator-documents-disorder/">The Operator Documents Disorder</a>
          <span class="tl-source">Ranger Leadership training, June 2026</span>
        </span>
      </li>
    
  </ol>

  <p class="count">84 articles</p>
</section>

    </main>

    <footer class="site-foot">
      <span>A life, threaded.</span>
      <span class="foot-comment">
        <a id="comment-link" href="mailto:justfred@obtainium.org">Comment</a>
        <span class="foot-email"> · justfred@obtainium.org</span>
      </span>
    </footer>

    <script>window.WF_BASE = "/wiki/";</script>
    <script src="/wiki/pagefind/pagefind-ui.js"></script>
    <script>if (document.getElementById("search")) new PagefindUI({ element: "#search", bundlePath: "/wiki/pagefind/", showImages: false });</script>
    <script src="/wiki/js/wikifred.js" type="module"></script>
    <script src="/wiki/__admin/overlay.js" onerror="void 0"></script>
    <script data-goatcounter="https://obtainium.goatcounter.com/count" async="" src="//gc.zgo.at/count.js"></script>
  </body>
</html>
